<div class="row">
    <div class="col-md-3">
        <!-- picture here -->
        <img [src]="contact.picture" [title]="contact | fullname" [alt]="contact | fullname" class="img-thumbnail">
    </div>
    <div class="col-md-8">
        <form #f1="ngForm">
            <!-- {{ f1 | json }} -->

            <div class="row form-group">
                <label for="" class="col-md-3 col-form-label"></label>
                <div class="col-md-9">
                    <label class="app-radio-label">
                        <input type="radio" name="gender" [(ngModel)]="contact.gender" value="Male"> Mr.</label>
                    <label class="app-radio-label">
                        <input type="radio" name="gender" [(ngModel)]="contact.gender" value="Female"> Ms.</label>
                </div>
            </div>

            <div class="row form-group">
                <label for="" class="col-md-3 col-form-label">Firstname</label>
                <div class="col-md-9">
                    <input class="form-control" type="text" 
                        required
                        minlength="3"
                        #fname="ngModel"
                        name="firstname" [(ngModel)]="contact.firstname">

                    <div class="text-danger" *ngIf="fname.dirty && fname.invalid">
                        <div *ngIf="fname.errors.required">Firtname is mandatory</div>
                        <div *ngIf="fname.errors.minlength">Minimum 3 letters required</div>
                    </div>
                </div>
            </div>

            <div class="row form-group">
                <label for="" class="col-md-3 col-form-label">Lastname</label>
                <div class="col-md-9">
                    <input class="form-control" type="text" name="lastname" [(ngModel)]="contact.lastname">
                </div>
            </div>

            <div class="row form-group">
                <label for="" class="col-md-3 col-form-label">Email</label>
                <div class="col-md-9">
                    <input class="form-control" 
                        #email="ngModel"
                        required
                        pattern="(.+)@(.+){2,}\.(.+){2,}"
                        type="email" name="email" [(ngModel)]="contact.email">

                    <div class="text-danger" *ngIf="email.dirty && email.invalid">
                        <div *ngIf="email.errors.required">Email is mandatory</div>
                        <div *ngIf="email.errors.pattern">Invalid email pattern. Did you forget @ or . ?</div>
                    </div>
                </div>
            </div>

            <div class="row form-group">
                <label for="" class="col-md-3 col-form-label">Phone</label>
                <div class="col-md-9">
                    <input class="form-control" 
                        #phone="ngModel"
                        required
                        pattern="^\d{10,12}$"
                        type="tel" name="phone" [(ngModel)]="contact.phone">
                    <div class="text-danger" *ngIf="phone.dirty && phone.invalid">
                        <div *ngIf="phone.errors.required">Phone number is mandatory</div>
                        <div *ngIf="phone.errors.pattern">Must be only digits (10 to 12)</div>
                    </div>
                </div>
            </div>

            <div class="row form-group">
                <label for="" class="col-md-3 col-form-label">Picture</label>
                <div class="col-md-9">
                    <input class="form-control" type="text" name="picture" [(ngModel)]="contact.picture">
                </div>
            </div>

            <div class="row form-group">
                <label for="" class="col-md-3 col-form-label">Date of birth</label>
                <div class="col-md-9">
                    <input class="form-control" type="text" name="birthDate" [(ngModel)]="contact.birthDate">
                </div>
            </div>

            <div class="row form-group">
                <label for="" class="col-md-3 col-form-label">Street address</label>
                <div class="col-md-9">
                    <input class="form-control" type="text" name="address" [(ngModel)]="contact.address">
                </div>
            </div>

            <div class="row form-group">
                <label for="" class="col-md-3 col-form-label">City</label>
                <div class="col-md-9">
                    <input class="form-control" type="text" name="city" [(ngModel)]="contact.city">
                </div>
            </div>

            <div class="row form-group">
                <label for="" class="col-md-3 col-form-label">State</label>
                <div class="col-md-9">
                    <input class="form-control" type="text" name="state" [(ngModel)]="contact.state">
                </div>
            </div>

            <div class="row form-group">
                <label for="" class="col-md-3 col-form-label">Country</label>
                <div class="col-md-9">
                    <input class="form-control" type="text" name="country" [(ngModel)]="contact.country">
                </div>
            </div>

            <div class="row form-group">
                <label for="" class="col-md-3 col-form-label"></label>
                <div class="col-md-9">
                    <button class="btn" 
                        [ngClass]="{ 'btn-primary': f1.valid, 'btn-danger': f1.invalid }"
                        [disabled] = "f1.invalid"
                        (click)="saveChanges()">Save changes</button>
                    
                    
                    
                    <button class="btn btn-link" [routerLink]="['/view-details', contact.id]">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>