<div class="container">
    <app-header></app-header>
    
    
    <!-- not an angular component, angular inerferes. -->
    <!-- can be handled by adding schemas in app.module.ts -->
    <vinod-co></vinod-co>
    
    <!-- .row>.col-md-6*2 -->
    <!-- .row>(col-md-3+.col-md-9) -->
    <div class="row">
        <div class="col-md-3">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-9">
            <router-outlet></router-outlet>>
            <!-- <app-home></app-home> -->
            <!-- <app-view-details></app-view-details> -->
            <!-- <app-contact-list></app-contact-list> -->
            <!-- <app-page-not-found></app-page-not-found> -->
        </div>
    </div>


    <app-footer></app-footer>
</div>