<div class="container">
    <app-header></app-header>
    
    
    <!-- not an angular component, angular inerferes. -->
    <!-- can be handled by adding schemas in app.module.ts -->
    <vinod-co></vinod-co>
    
    <!-- .row>.col-md-6*2 -->
    <!-- .row>(col-md-3+.col-md-9) -->
    <div class="row" [ngStyle]="{ 'margin-top.px': 100 }">
        <div class="col-md-3">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>
    
    <app-footer></app-footer>
</div>