<!-- .row>.col-md-4+.col-md-8 -->
<div class="row" [dir]="dir">
    <div class="col-md-3">
        <!-- picture here -->
        <img [src]="contact.picture" 
            [title]="contact | fullname"
            [alt]="contact | fullname" class="img-thumbnail">
    </div>
    <div class="col-md-8">
        <!-- rest of the data here -->
        <!-- table.table>tbody>tr*6>td*2 -->
        <table class="table">
            <tbody>
                <tr>
                    <td>{{ 'contactDetails.name' | translate }}</td>
                    <td>{{ contact | fullname }}</td>
                </tr>
                <tr>
                    <td>{{ 'contactDetails.email' | translate }}</td>
                    <td>{{ contact.email }}</td>
                </tr>
                <tr>
                    <td>{{ 'contactDetails.phone' | translate }}</td>
                    <td>{{ contact.phone }}</td>
                </tr>
                <tr>
                    <td>{{ 'contactDetails.dob' | translate }}</td>
                    <td>{{ contact.birthDate }}</td>
                </tr>
                <tr>
                    <td>{{ 'contactDetails.age' | translate }}</td>
                    <td>{{ contact.birthDate | age : 2  }}</td>
                </tr>
                <tr>
                    <td>{{ 'contactDetails.address' | translate }}</td>
                    <td>{{ contact.address }}</td>
                </tr>
                <tr>
                    <td>{{ 'contactDetails.cityStateCountry' | translate }}</td>
                    <td>{{ contact.city }}
                        {{ contact.state }}
                        {{ contact.country }}
                    </td>
                </tr>
            </tbody>
        </table>

        <button class="btn btn-primary" 
            (click)="cacheContact()"
            [routerLink]="['/contact', 'edit', contact.id]">{{ 'contactDetails.btnEdit' | translate }}</button>
        <button class="btn btn-danger" (click)="confirmAndDelete()">{{ 'contactDetails.btnDelete' | translate }}</button>

    </div>
</div>