<div class="row">
    <div class="col-md-4" [ngStyle]="{maxHeight: '500px', overflow: 'auto'}">
        <!-- movie list here -->
        <ul class="list-group">
            <li class="list-group-item" 
                *ngFor="let m of movieList"
                [ngStyle]="{cursor: 'pointer'}"
                (click)="getMovieDetails(m.imdbID)">
                <div class="row">
                    <div class="col-md-3">
                        <img class="img-thumbnail" [src]="m.Poster" [alt]="m.Title">
                    </div>
                    <div class="col-md-9">
                        <h5>{{ m.Title }}</h5>
                        <p>{{ m.Year }}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-8">
        <app-movie-details [selectedMovie]="selectedMovie"
            [loading]="loading"></app-movie-details>
    </div>
</div>